# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

#enf
env/

# Native builds
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro bundler
.metro-health-check*

# Debug files
npm-debug.*
yarn-debug.*
yarn-error.log
*.log

# macOS
.DS_Store
*.pem

# Local environment files
.env*.local
.env
.env.*

# TypeScript
*.tsbuildinfo

# Temporary files
*.tmp
*.temp

# Editor/IDE-specific files
.idea/
.vscode/
*.swp
*.swo

# Miscellaneous
*.lock
app-example

